<div class="user-home">
    <div class="user-home-header">
        <div id="user-home-username">Hi {{user.username}}</div>
        <a class="log-out" href="/logout">Log Out</a></div>
    </div>

    <form class="search-box">
        <input id="keyword" type="text" name="keyword" placeholder="Search by category...">
        <input id="search-button" type="submit" value="Search">
    </form>

    <table class="poll-table">
        <thead>
            <tr>
                <th class="table-head">Question</th>
                <th class="table-head">Category</th>
                <th class="table-head">Date</th>
                <th class="table-head">Votes</th>
            </tr>
        </thead>
        <tbody>
            {{#each poll}}
            <tr>
                <td class="table-body"><a class="track-single" href="/poll/{{id}}">{{question}}</a></td>
                <td class="table-body">{{category}}</td>
                <td class="table-body">{{postedDate}}</td>
            </tr>
            {{/each}}
            <!--Just for test-->
            <tr>
                <td class="table-body"><a class="track-single" href="/poll/{{id}}">Test Question Question Question{{question}}</a></td>
                <td class="table-body">Passed Category{{category}}</td>
                <td class="table-body">Passed Data{{postedDate}}</td>
            </tr>
        </tbody>
    </table>
</div>