<div id="userinfo-container">
    <label>User:</label>
    <p>{{user.firstname}} {{user.lastname}}</p>
    <label>Username:</label>
    <p>{{user.username}}</p>
    <label>First Name:</label>
    <p>{{user.firstname}}</p>
    <label>Last Name:</label>
    <p>{{user.lastname}}</p>
    <label>Age:</label>
    <p>{{user.age}}</p>
    <label>Gender:</label>
    <p>{{user.gender}}</p>
</div>