<header>
        <div class="logo">
            <a href="#">PollMe</a>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/">Home</li>
                    <li><a href="createpoll">Create Polls</li>
                    <li class="dropdown">Hi {{user.userInfo.username}}
                        <div class="dropdown-content">
                            <a class="submenu" href="#">Edit Profile</a>
                            <a class="submenu" href="/polls/{{user.userInfo._id}}">My Polls</a>
                            <a class="submenu" href="/logout">Log Out</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
</header>
<div class="user-home">
    <form class="search-box">
        <input id="keyword" type="text" name="keyword" placeholder="Search by category...">
        <input id="search-button" type="submit" value="Search">
    </form>

    <table class="poll-table">
        <thead>
            <tr>
                <th class="table-head">Question</th>
                <th class="table-head">Category</th>
                <th class="table-head">Date</th>
                <th class="table-head">Votes</th>
            </tr>
        </thead>
        <tbody>
            {{#each user.pollInfo}}
            <tr>
                <td class="table-body"><a class="track-single" href="/poll/{{this._id}}">{{this.question}}</a></td>
                <td class="table-body">{{this.category}}</td>
                <td class="table-body">{{this.postedDate}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<footer>
        <div class="copyright">
            <p>&copy; PollMe Team || Patrick Hill | Yasuo Kobayashi | Haoyang Li | Seito Ryu | Jason Sarwar</p>
        </div>
</footer>